/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body{
  background-color: #f5f5f5
}
 
#navbar{
    
    background-color: #40514e
}

.form-group{
  margin-right: 25px
}

label{
  margin-bottom: 0px;
  background-color: #30e3ca;
  color:#f5f5f5
}

#areaResultado{
  background-color:#40514e; 
  color: chartreuse
}

#areaDesarrollo{
  background-color:#40514e;
  color: chartreuse;
  border-color:#40514e
}

.panel {
  border: 1px solid #30e3ca; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #30e3ca;
  background-color: #f5f5f5 !important;
  color: #30e3ca;
}
.panel-heading {
  color: #f5f5f5 !important;
  background-color: #30e3ca !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: #f5f5f5 !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #30e3ca;
  color: #f5f5f5;
}

#contenedorTrabajo{
  margin-top: 100px;
}

#botonSalir{
  background-color:#30e3ca; 
  border-color: #30e3ca;
  border-radius: 10px
}

.btn-primary{
  background-color:#30e3ca; 
  border-color: #30e3ca
}

#labelModal{
  margin-bottom: 0px;
  color:#000000;
  background-color: #ffffff
}